@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: optional;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    padding: 1.5rem;
    display:grid;
    place-items: center;
}


/* CONTAINERS */
.container {
    max-width: 900px;
    background: hsl(0, 0%, 100%);
    border-radius: 2rem;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.container_content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.375rem;
    flex: 1;
}

.container_image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}


/* CONTENT */

/* CONTENT__TITLE */
h1 {
    font-weight: 700;
    font-size: clamp(2rem, 1.7573rem + 1.0356vw, 3rem);
    margin-block-end: 0.875rem;
}

.container__form {
    display: flex;
    flex-direction: column;
}


/* CONTENT__FORM */
input, button {
    display: block;
    font-family: inherit;
}

button {
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.375rem;
    border: none;
    text-align: center;
    font-weight: 700;
    padding: 1.0625rem 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover,
button:focus {
    background: linear-gradient(to right, hsl(4, 100%, 67%), hsl(4, 100%, 67%));
    outline: none;
}

input {
    width: 100%;
    background-color: inherit;
    color: hsl(0, 0%,58%);
    border-radius: 0.375rem;
    border: 1px solid hsl(0, 0%,58%);
    text-align: start;
    margin-block-end: 1.625rem;
    padding: 1rem 0 1rem 1.125rem;
    cursor: pointer;
}

input:focus {
    outline: 1px solid black;
    color: hsl(234, 29%, 20%);
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125rem;
    font-weight: 700;
    margin-block-end: 0.375rem;
}

.error {
    visibility: visible;
    color: hsl(4, 100%, 67%);
}

span {
    visibility: hidden;
}


/* CONTENT__LIST */
ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    position: relative;
    padding-inline-start: 2.5rem;
    margin-block-end: 0.625rem;
    background-image: url("assets/images/icon-list.svg");
    background-repeat: no-repeat;
    background-position: left top 0.2em;
    background-size: 1.2em;
}

.input_error {
    background-color: hsla(4, 100%, 67%, 0.3);
    color: hsl(4, 100%, 67%);
    border-color: hsl(4, 100%, 67%);
}

.input_error:focus {
    outline-color: hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border-color: hsl(4, 100%, 67%);
    background-color: hsla(4, 100%, 67%, 0.1);
    color: hsl(4, 100%, 67%);
}

@media (max-width: 48em) {
    body {
        padding: 0;
    }

    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        padding: 0;
        flex-direction: column-reverse;
    }

    .container_content {
        padding: 2.6rem 2rem;
    }

    .container_image {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    li::before {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 48.01em) {
    .container_image img {
        max-height: 540px;
        object-fit: contain;
    }
}