@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
    font-display: optional;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
    font-display: swap;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    padding: 24px;
    display:grid;
    place-items: center;
}


/* CONTAINERS */
.container {
    max-width: 900px;
    background: hsl(0, 0%, 100%);
    border-radius: 32px;
    padding: 20px;
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.container_content {
    width: 50%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 22px;
}

.container_image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


/* CONTENT */

/* CONTENT__TITLE */
h1 {
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 14px;
}

.container__form {
    display: flex;
    flex-direction: column;
}


/* CONTENT__FORM */
input, button {
    display: block;
}

button {
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 6px;
    border: none;
    text-align: center;
    font-weight: 700;
    padding: 17px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right bottom, hsl(4, 100%, 80%), hsl(4, 100%, 67%), hsl(23, 95%, 63%), hsl(4, 100%, 60%));
}

input {
    width: 100%;
    background-color: inherit;
    color: hsl(0, 0%,58%);
    border-radius: 6px;
    border: 1px solid hsl(0, 0%,58%);
    text-align: start;
    margin-bottom: 26px;
    padding: 16px 0 16px 18px;
    cursor: pointer;
}

input:focus {
    outline: 1px solid black;
    color: hsl(234, 29%, 20%);
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 6px;
}

.error {
    visibility: visible;
    color: hsl(4, 100%, 67%);
}

span {
    visibility: hidden;
}


/* CONTENT__LIST */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
}

li::before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/icon-list.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.input_error {
    background-color: hsla(4, 100%, 67%, 0.3);
    color: hsl(4, 100%, 67%);
}

.input_error:focus {
    outline-color: hsl(4, 100%, 67%);
    color: hsl(4, 100%, 67%);
}