@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: optional;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    min-height: 100vh;
    padding: 1.5rem;
    display:grid;
    place-items: center;
}

.container {
    max-width: 450px;
    background: hsl(0, 0%, 100%);
    border-radius: 2rem;
    padding: 1.5rem;
}

.container_content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-block-end: 1.625rem;
    font-weight: 700;
}

button {
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.375rem;
    border: none;
    text-align: center;
    font-weight: 700;
    padding: 1.0625rem 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover,
button:focus {
    background: linear-gradient(to right, hsl(4, 100%, 67%), hsl(4, 100%, 67%));
    outline: none;
}

img {
    width: 80px;
    height: 80px;
    display: block;
    object-fit: cover;
    margin-block-end: 3rem;
}

@media (max-width: 48em) {
    body {
        padding: 0;
    }

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .container_content {
        height: 100%;
    }

    .container__title {
        margin-block-start: auto;
    }

    button {
        margin-block-start: auto;
    }

}
