@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
    font-display: optional;
}

@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
    font-display: swap;
}